[submodule "app/plugins/migrations"]
	path = app/plugins/migrations
	url = git://github.com/CakeDC/migrations.git
[submodule "app/plugins/ninja"]
	path = app/plugins/ninja
	url = git://github.com/hiromi2424/ninja.git
